// Import all partials
@require './_*.styl'
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Courgette|Dancing+Script|Kalam|Kaushan+Script|Satisfy|Shadows+Into+Light&display=swap');


body
  background-image url(https://images.pexels.com/photos/1303098/pexels-photo-1303098.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
  background-position center top -100px
  background-size cover
  background-attachment fixed


header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;
  h2
    font-weight: bold

.catch-of-the-day
  display flex
  //height 90vh
  max-width:1500px
  margin 0 auto
  margin-top 5vh
  perspective: 1000px;
  transform-style preserve-3d
  //background snow
  box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
  & > *
    flex 1 4 auto
    padding 2rem
    //border 1rem double lighten(black,10%)
    border-top 5px solid transparent
    border-radius 5px
    padding 3rem 2rem
    margin 2rem 1rem
    position relative
    background white
    transition all 0.3s
    //box-shadow 0 5px 5px rgba(0,0,0,0.1)
    box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
    overflow scroll
    &:first-child
      flex-shrink 1 // take 4x the extra room
      flex-basis 50%
      transform translateX(50%) rotateY(6deg) translateX(-50%)
    &:nth-child(2)
      transform translateX(-50%) rotateY(-14deg) translateX(50%)
      border-left 0
      border-right 0
      min-width 300px
    &:last-child
      flex-shrink 1 // take 4x the extra room
      flex-basis 50%
      transform translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px)
  & > *:hover
    border-top 5px solid orange

// Folding Transforms
// Take off folding when not checked
input#fold:not(:checked) ~ #main
  .catch-of-the-day > *
      transform none

input#fold
  display none
  &:checked + label
    background white
    color black

ul
  list-style none
  margin 0
  padding 0

ul.order
  // Default state
  li
    padding 1.5rem 0
    display flex
    font-size 1.4rem
    justify-content space-between
    align-items center
    span 
      button
        border 0
        line-height 1
        padding 0 5px 0 0 
        position absolute
        right 3px
        color lighten(red, 40%)
      
    &.unavailable
      text-decoration line-through
      background lighten(red, 80%)
    .price
      font-size 1.2rem
    span.count
      position relative
      overflow hidden
      float left // only works if it's floated?!
      span
        display inline-block
        // transition all 0.5s
    &:hover
        button
          color red
          transform scale(1.3)
.total
  padding 2rem 0
  font-size 1.4rem
  border-top 3px solid black
  & strong
    float: right

.order-title
  text-align center

.product-edit, .product-add
  background snow
  margin-bottom 20px
  border-radius 5px
  //border 1px solid black
  box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
  overflow hidden
  display flex
  flex-wrap wrap
  padding-top 10px
  input, select
    width 45%
    padding 5px
    line-height 1
    font-size 1.2rem
    border 0
    //box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
    appearance none
    border-radius 0
    background white
    //border 1px solid red
    margin auto
    text-overflow:ellipsis
    border-radius 5px
    &:focus
      outline 0
      background white
  textarea
    width 95%
    resize none
    background white
    //border 1px solid red
    margin 5px auto
    padding 5px
    font-size 1.2rem
    border none
    text-overflow:ellipsis
    border-radius 5px


  input:last-of-type
    width 95%
    margin auto
    padding 5px


  button
    color #44bd32
    width 100%
    margin-top 5px
    border 0
    padding 0.5rem
    font-size 1.3rem
    text-transform none
    //border-top 1px solid lightgrey
  button:hover, button:after
    background #44bd32
    color #fff
  input::placeholder
    background white
    height 35px
    margin 2px
  


.product-edit
  button
    color #EA2027
  button:hover, button:after
    background #EA2027
  input::placeholder
    background snow
    height 35px
  
// Menu Styles
.list-of-fish
  border-top 2px solid black
  border-bottom 1px solid black
  padding-top 5px
  margin-top 2rem
  transform translateZ(0);


//Ads online
.ad-online
  padding 2rem
  margin-bottom 20px
  clear both
  overflow hidden
  box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
  border-radius 5px
  border-left 5px solid transparent
  transition all 0.2s ease
  display flex
  background snow
  &:hover
    transform scale(1.02)

.product-image
  img
    float left
    width 150px
    max-height 160px
    margin-right 1.5rem
    object-fit cover

.product-text
  h3
    font-size 1.9rem
    font-weight bold
  p
    margin 5px 0
    font-size 1.3rem
    font-weight 400
    line-height 130%
  .product-name
    margin 0
    display flex
    justify-content space-between
    align-items center
  .price
    font-size 1.4rem
    font-weight bold
    color #f56a2c
    justify-content flex-end
    // font-family 'Open Sans Condensed'
  
  button
    padding 5px 10px
    margin-top 5px
    border-radius 5px
    border 1px solid #44bd32
    color green
    font-size 1.2rem
    position relative
    right 2px
  button:hover
    color snow
    background #44bd32
  button:after
    background #44bd32


.ad-online:hover,
  //background whitesmoke
  border-left 5px solid #f56a2c

.no-product-online
  display flex
  justify-content center
  align-items center
  font-style italic
  position relative
  top 30px
  p
    width 70%
    font-size 1.5rem
    text-align center
    color darken(lightgrey, 50%)
    font-weight bold
    span
      position relative
      top 10px
      line-height 150%
      color darken(lightgrey, 30%)
      font-weight normal



button, input[type=submit]
  text-transform uppercase
  background none
  border 1px solid black
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans', sans-serif
  transition all 0.2s
  position relative
  z-index 2
  &[disabled]
    color red
    background white
    border-color red
    transform rotate(-10deg) scale(2) translateX(15%) translateY(-50%)
    &:hover
      color red
      cursor not-allowed
      background white
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    //background black
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover, &:focus
    //color white
    outline 0
    &:after
      height 100%
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

  &.github, &.facebook, &.twitter
    border 0
    display block
    margin-bottom 2rem
    width 100%
    color white
    padding 2rem

  &.github
    background #82D465
    &:after
      background darken(#82D465, 20%)

  &.facebook
    background #3864A3
    &:after
      background darken(#3864A3, 20%)

  &.twitter
    background #5EA9DD
    &:after
      background darken(#5EA9DD, 20%)

nav
  background-color #f56a2c
  display flex
  justify-content space-between
  padding 10px 5%
  box-shadow 0 2px 4px 0 rgba(0,0,0,.15)
  position sticky
  top 0px
  z-index 1
  h1
    font-family 'Baloo Bhaina', cursive
    color #fff
    font-size 30px
    display block
    position relative //for vihong signature
    a
      text-decoration none
      color #fff
    span
      color #1d1d1d
      font-size 15px
      position absolute
      left 1%
      bottom 0px
      //font-family: 'Caveat', cursive;
      font-family: 'Satisfy', cursive;
      //font-family: 'Kalam', cursive;
    

.account
  display flex
  flex-direction column
  align-items center
  text-align center
  width 50px
  img
    margin-bottom 1px
  p
    display inline
    font-size 12px
    margin 0



// Login form
.login-form
  font-family Roboto,sans-serif
  text-align center
  background #fff
  max-width 500px
  min-width 200px
  margin 50px auto
  padding 3.5rem 2rem
  box-shadow 0 2px 6px 0 hsla(0, 0%, 0%, 0.2)
  border-radius 5px
  p:first-child
    font-weight bold
    margin 10px auto 20px
  hr
    border 1.5px solid #f56a2c
    margin-bottom 40px
  p:nth-child(3)
    color #8e8b8b
    margin 20px 10px 10px
  input, button
    width 100%
    border-radius 5px
    border 1px solid #d3d3d3
    height 35px
    margin 5px auto
    background snow
    &[type="text"]
      color: #1d1d1d;
      position relative
      bottom 5px
      text-align left
      padding-left 10px
      font-size 18px
  input::placeholder
    border-radius 5px
    color lightgrey
  button
    background #fff
    text-transform none
    font-size 18px
    color #4183d7
  button:after
    background #2772d4    
  button:hover //essaye d'accéder au bouton via hover (sans "tab")
    color #fff
  button:focus //essaye d'accéder au boutton via "tab" du clavier
    color #fff



.inventory
  h2
    font-weight bold
  .demo-button
    margin-bottom 2rem
    border-radius 5px
    padding 0.8rem 1rem
    font-size 1rem
    background #1d1d1d
    color snow
    display inline
    margin 12px
    height 35px
    margin-bottom 15px
  .demo-button:hover
    background snow
    color #1d1d1d
  //.demo-button:focus
  //  color #1d1d1d
  //  background white
  .demo-button:after
    color snow

.inventory
  .deleteAll-button
    background red
    border none
  hr
    border 0.5px solid lightgrey
    margin 20px

.order-wrap
  h2
    font-weight bold


.top.top-header
  h2
    position relative
  i
    color red
    position absolute
    right 10%
    top 20%
    font-size 2rem
  i:hover
    transform: rotate(90deg)