.order-enter {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  padding: 0;
}
.count-enter {
  background: #f00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  background: #ff0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  background: #000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  background: #008000;
  -webkit-transform: translateY(-100%) scale(3);
          transform: translateY(-100%) scale(3);
}
@font-face {
  font-family: "font-family Roboto,sans-serif";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font-family Roboto,sans-serif';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
body {
  background-image: url("https://images.pexels.com/photos/1303098/pexels-photo-1303098.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
header.top {
  text-align: center;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
header.top h2 {
  font-weight: bold;
}
.monboncoin-panels {
  display: -webkit-box;
  display: flex;
  height: 80vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.monboncoin-panels > * {
  -webkit-box-flex: 1;
          flex: 1 4 auto;
  padding: 2rem;
  border-top: 5px solid transparent;
  border-radius: 5px;
  padding: 3rem 2rem;
  margin: 2rem 1rem;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  overflow: scroll;
  overflow-x: hidden;
}
.monboncoin-panels > *:first-child {
  flex-shrink: 1;
  flex-basis: 50%;
  -webkit-transform: translateX(50%) rotateY(6deg) translateX(-50%);
          transform: translateX(50%) rotateY(6deg) translateX(-50%);
}
.monboncoin-panels > *:nth-child(2) {
  -webkit-transform: translateX(-50%) rotateY(-14deg) translateX(50%);
          transform: translateX(-50%) rotateY(-14deg) translateX(50%);
  border-left: 0;
  border-right: 0;
  min-width: 300px;
}
.monboncoin-panels > *:last-child {
  flex-shrink: 1;
  flex-basis: 50%;
  -webkit-transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px);
          transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px);
}
.monboncoin-panels > *:hover {
  border-top: 5px solid #f5a623;
}
input#fold:not(:checked) ~ #main .monboncoin-panels > * {
  -webkit-transform: none;
          transform: none;
}
input#fold {
  display: none;
}
input#fold:checked + label {
  background: #fff;
  color: #000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.order li {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
ul.order li span button {
  border: 0;
  line-height: 1;
  padding: 0 5px 0 0;
  position: absolute;
  right: 3px;
  color: #ea7378;
}
ul.order li.unavailable {
  text-decoration: line-through;
  background: #f8d0d2;
}
ul.order li .price {
  font-size: 1.2rem;
}
ul.order li span.count {
  position: relative;
  overflow: hidden;
  float: left;
}
ul.order li span.count span {
  display: inline-block;
}
ul.order li:hover button {
  color: #d12028;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.total {
  padding: 2rem 0;
  font-size: 1.4rem;
  border-top: 3px solid #000;
}
.total strong {
  float: right;
}
.order-title {
  text-align: center;
}
.product-edit,
.product-add {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.product-edit input,
.product-add input,
.product-edit select,
.product-add select {
  width: 45%;
  padding: 5px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fffafa;
  margin: auto;
  text-overflow: ellipsis;
  border-radius: 5px;
}
.product-edit input:focus,
.product-add input:focus,
.product-edit select:focus,
.product-add select:focus {
  outline: 0;
  background: #fffafa;
}
.product-edit textarea,
.product-add textarea {
  width: 95%;
  resize: none;
  background: #fffafa;
  margin: 5px auto;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  text-overflow: ellipsis;
  border-radius: 5px;
}
.product-edit input:last-of-type,
.product-add input:last-of-type {
  width: 95%;
  margin: auto;
  padding: 5px;
}
.product-edit button,
.product-add button {
  color: #44bd32;
  width: 100%;
  margin-top: 5px;
  border: 0;
  padding: 0.5rem;
  font-size: 1.3rem;
  text-transform: none;
}
.product-edit button:hover,
.product-add button:hover,
.product-edit button:after,
.product-add button:after {
  background: #44bd32;
  color: #fff;
}
.product-edit input::-webkit-input-placeholder,
.product-add input::-webkit-input-placeholder {
  background: #fffafa;
  height: 35px;
  margin: 2px;
}
.product-edit input:-ms-input-placeholder,
.product-add input:-ms-input-placeholder {
  background: #fffafa;
  height: 35px;
  margin: 2px;
}
.product-edit input::placeholder,
.product-add input::placeholder {
  background: #fffafa;
  height: 35px;
  margin: 2px;
}
.product-add input,
.product-add textarea {
  background: #f8fdf4;
  box-shadow: 0 1px 6px 0 rgba(20,20,20,0.09);
}
.product-add input::-webkit-input-placeholder {
  background: #f8fdf4;
}
.product-add input:-ms-input-placeholder {
  background: #f8fdf4;
}
.product-add input::placeholder {
  background: #f8fdf4;
}
.edit-form-title {
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
  text-align: center;
}
.edit-form-title span {
  text-decoration: underline;
}
.product-edit button {
  color: #ea2027;
}
.product-edit button:hover,
.product-edit button:after {
  background: #ea2027;
}
.product-edit input::-webkit-input-placeholder {
  background: #fffafa;
  height: 35px;
}
.product-edit input:-ms-input-placeholder {
  background: #fffafa;
  height: 35px;
}
.product-edit input::placeholder {
  background: #fffafa;
  height: 35px;
}
.list-of-fish {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.ad-online {
  padding: 2rem;
  margin-bottom: 20px;
  clear: both;
  overflow: hidden;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border-left: 5px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: flex;
  background: #fff;
}
.ad-online:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.product-image img {
  float: left;
  width: 150px;
  max-height: 160px;
  margin-right: 1.5rem;
  object-fit: cover;
}
.product-text h3 {
  font-size: 1.9rem;
  font-weight: bold;
}
.product-text p {
  margin: 5px 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 130%;
}
.product-text .product-name {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.product-text .price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #f56a2c;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.product-text button {
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #44bd32;
  color: #2dc22d;
  font-size: 1.2rem;
  position: relative;
  right: 2px;
}
.product-text button:hover {
  color: #fffafa;
  background: #44bd32;
}
.product-text button:after {
  background: #44bd32;
}
.ad-online:hover {
  border-left: 5px solid #f56a2c;
}
.no-product-online {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-style: italic;
  position: relative;
  top: 30px;
}
.no-product-online p {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  color: #6a6a6a;
  font-weight: bold;
}
.no-product-online p span {
  position: relative;
  top: 10px;
  line-height: 150%;
  color: #949494;
  font-weight: normal;
}
button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button[disabled],
input[type=submit][disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  -webkit-transform: rotate(-10deg) scale(2) translateX(15%) translateY(-50%);
          transform: rotate(-10deg) scale(2) translateX(15%) translateY(-50%);
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  color: #d12028;
  cursor: not-allowed;
  background: #fff;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:after,
input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  outline: 0;
}
button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
  height: 100%;
}
button.warning:after,
input[type=submit].warning:after {
  background: #d12028;
}
button.success:after,
input[type=submit].success:after {
  background: #2dc22d;
}
button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
nav {
  background-color: #f56a2c;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px 5%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav h1 {
  font-family: 'Baloo Bhaina', cursive;
  color: #fff;
  font-size: 30px;
  display: block;
  position: relative;
  cursor: default;
}
nav h1 a {
  text-decoration: none;
  color: #fff;
}
nav h1 span {
  color: #1d1d1d;
  font-size: 15px;
  position: absolute;
  left: 1%;
  bottom: 0px;
  font-family: 'Satisfy', cursive;
}
.account {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  width: 50px;
}
.account img {
  margin-bottom: 1px;
}
.account p {
  display: inline;
  font-size: 12px;
  margin: 0;
}
.not-found h1 {
  font-family: "Mountains of Christmas", cursive;
  font-size: 70px;
  text-align: center;
  margin-top: 10%;
  color: #208820;
}
.not-found button {
  display: -webkit-box;
  display: flex;
  margin: auto;
  background: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid #4183d7;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.not-found button:hover {
  background: #4183d7;
  color: #fff;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.not-found button:hover a {
  color: #fff;
}
.not-found button a {
  text-decoration: none;
  color: #4183d7;
}
.login-form {
  font-family: Roboto, sans-serif;
  text-align: center;
  background: #fff;
  max-width: 500px;
  min-width: 200px;
  margin: 30px auto;
  padding: 3.5rem 2rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}
.login-form p:first-child {
  font-weight: bold;
  margin: 10px auto 20px;
}
.login-form hr {
  border: 1.5px solid #f56a2c;
  margin-bottom: 40px;
}
.login-form p:nth-child(3) {
  color: #8e8b8b;
  margin: 20px 10px 10px;
}
.login-form input,
.login-form button {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  height: 35px;
  margin: 5px auto;
  background: #fffafa;
}
.login-form input[type="text"],
.login-form button[type="text"] {
  color: #1d1d1d;
  position: relative;
  bottom: 5px;
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
}
.login-form input::-webkit-input-placeholder {
  border-radius: 5px;
  color: #d3d3d3;
}
.login-form input:-ms-input-placeholder {
  border-radius: 5px;
  color: #d3d3d3;
}
.login-form input::placeholder {
  border-radius: 5px;
  color: #d3d3d3;
}
.login-form button {
  background: #fff;
  text-transform: none;
  font-size: 18px;
  color: #4183d7;
}
.login-form button:hover {
  color: #fff;
  background: #2772d4;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.login-form button:focus {
  color: #fff;
}
.tagline h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 60px auto 20px;
  color: #f56a2c;
}
.account-name {
  font-weight: bold;
  cursor: default;
}
.buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.inventory h2 {
  font-weight: bold;
}
.inventory .demo-button {
  border-radius: 5px;
  padding: 0.8rem 5px;
  font-size: 1rem;
  background: #1d1d1d;
  color: #fffafa;
  display: inline;
  height: 35px;
  margin: 0 auto 15px;
}
.inventory .demo-button:hover {
  background: #fffafa;
  color: #1d1d1d;
}
.inventory .demo-button:after {
  color: #fffafa;
}
.inventory .deleteAll-button {
  background: #d12028;
  border: 1px solid #d12028;
}
.inventory .deleteAll-button:hover {
  border: 1px solid #d12028;
  color: #d12028;
}
.inventory hr {
  border: 0.5px solid #d3d3d3;
  margin: 20px;
}
.order-wrap h2 {
  font-weight: bold;
}
.top.top-header h2 {
  position: relative;
}
.top.top-header i {
  color: #d12028;
  position: absolute;
  right: 10%;
  top: 20%;
  font-size: 2rem;
}
.top.top-header i:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
